[submodule "vim-lilypond"]
	path = vim-lilypond
	url = https://github.com/sersorrel/vim-lilypond
[submodule "nvim-treesitter"]
	path = nvim/.config/nvim/pack/plugged/opt/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "fzf-lua"]
	path = nvim/.config/nvim/pack/plugged/opt/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
[submodule "vim-slime"]
	path = nvim/.config/nvim/pack/plugged/opt/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "command-t"]
	path = nvim/.config/nvim/pack/plugged/opt/command-t
	url = git@github.com:wincent/command-t.git
[submodule "nvim-oxherd"]
	path = nvim/.config/nvim/pack/plugged/opt/nvim-oxherd
	url = git@github.com:adammccartney/nvim-oxherd.git
