# temp files etc.
emacs/.emacs.d/straight
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/transient/
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/elpa/
emacs/.emacs.d/quelpa/
emacs/.emacs.d/var/
emacs/.emacs.d/local/
emacs/.emacs.d/tree-sitter/


# vim plugins
vim/.vim/plugged/*
./systemd/.config/systemd/user/etc/emacs.conf
