[Unit]
Description=Emacs text editor
Documentation=info:emacs man:emacs(1) https://gnu.org/software/emacs

[Service]
Type=forking
EnvironmentFile=%h/.config/systemd/user/etc/emacs.conf
ExecStart=/bin/sh -c ${EMACS_CMD}
ExecStop=/bin/sh -c ${EMACSCLIENT_EXE} --eval '(kill emacs)'
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=on-failure

[Install]
WantedBy=default.target
