[Unit]
Description=mu index: service to sync the mail dirs with the db

[Service]
Type=oneshot
ExecStart=%h/bin/mu-index-svc

[Install]
WantedBy=default.target
