Dear Jupyter User,



You are receiving this mail because you are a member of the Jupyter as a Service
mailing list at TUWien. If you no longer wish to receive these mails, you can
unsubscribe at any time using the following link: https://list.tuwien.ac.at/sympa/signoff/jupyter
